* {
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  border-radius: 0;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

body {
  font-family: 'Poppins', sans-serif;
  background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%) fixed;
}

.container {
  @media screen and (max-width: 768px) {
    margin-left: auto;
    margin-right: auto;
    padding: 50px 15px;
  }

  @media screen and(min-width: 769px) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  max-width: 480px;
}

.todo-body {
  @media screen and (max-width: 768px) {
    max-width: 450px;
    max-height: 90vh;
    padding: 20px 10px;
  }

  @media screen and (min-width: 769px) {
    width: 450px;
  }

  padding: 25px 15px;
  max-height: 80vh;

  background: #ffffff;
  box-shadow: 0 10px 80px #0000003d;
  border-radius: 1rem;
}

.todo-header {
  padding-right: 20px;
  padding-left: 10px;
  text-align: center;
}

.task-counter {
  margin-bottom: 15px;
  font-size: 18px;
  text-align: left;
  padding: 0px 15px;

  @media screen and (max-width: 768px) {
    text-align: center;
  }
}

.title {
  margin-bottom: 15px;
  font-size: 35px;
}

.form {
  background-color: #eeeeee;
  border-radius: 8px;
  margin-bottom: 15px;
  padding: 0px 15px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-input {
  padding: 15px 0px;
  font-size: 20px;
  border: none;
  max-width: 300px;
  background-color: #eeeeee;

  @media screen and (max-width: 768px) {
    max-width: 40vw;
    font-size: 18px;
  }
}

.todo-list {
  margin: 10px;
  max-height: 50vh;
  overflow-y: auto;
}

.todo-list::-webkit-scrollbar {
  width: 7px;
}

.todo-list::-webkit-scrollbar-thumb {
  background-color: #bbbdc7;
  border-radius: 4px;
}

.todo-list::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: #f9f9fd;
}

.todo-item {
  padding: 0px 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  list-style: none;
  font-size: 18px;
  color: #111111;

  display: flex;
  align-items: center;

  border: 1px solid #e0e0e0;
  border-radius: 10px;

  transition: opacity $animation-duration $timing-function;
  transition: background-color $animation-duration $timing-function;

  &:last-child {
    margin-bottom: 1px;
  }

  &:hover {
    background-color: #e9e4e446;
  }

  @media screen and (max-width: 768px) {
    font-size: 16px;
  }
}

.todo-item--checked {
  color: #555555;
  opacity: 0.7;
  transition: opacity $animation-duration $timing-function;
  .todo-text {
    text-decoration-line: line-through;
    transition: text-decoration-line $animation-duration $timing-function;
  }
}

.todo-text {
  height: 100%;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: transparent;
  padding: 20px 0;
  cursor: default;

  @media screen and (max-width: 768px) {
    padding: 15px 0;
  }
}
