<div class="container">
  <section class="todo-body">
    <header>
      <h1 class="title">Todo List</h1>
    </header>
    <form class="form">
      <input type="text" name="input" class="todo-input" placeholder="Add your task..." />
      <button type="submit" class="add-btn">
        <i class="fas fa-plus-square"></i>
      </button>
    </form>
    <div class="todo-container">
      <ul class="todo-list"></ul>
      <!-- <button type="button" class="clear-tasks-btn">Clear Tasks</button> -->
    </div>
  </section>
</div>
