<div class="container">
  <section class="todo-body">
    <header class="todo-header">
      <h1 class="title">Todo List</h1>
      <form class="form">
        <input
          type="text"
          name="input"
          class="todo-input"
          placeholder="Add your task..."
          autocomplete="off"
        />
        <button type="submit" class="add-btn">
          <svg class="add-btn__icon" width="30" height="30">
            <use href="./images/sprite.svg#icon-add"></use>
          </svg>
        </button>
      </form>
    </header>
    <ul class="todo-list"></ul>
  </section>
</div>
